<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Automotive Diagnostic Form</title>
  </head>
  <body>
    <h1>Automotive Diagnostic Form</h1>
    <h2>Initial User Information</h2>
    <form action="/" method="POST">
      <label for="name">User FullName:</label>
      <input type="text" name="name" required />

      <label for="make">Car Make:</label>
      <input type="text" name="make" required />

      <label for="car_model">Car Model:</label>
      <input type="text" name="car_model" required />

      <label for="year">Year:</label>
      <input type="text" name="year" required />

      <label for="mileage">Mileage:</label>
      <input type="text" name="mileage" required />

      <label for="date_of_diagnosis">Date of Diagnosis:</label>
      <input type="date" name="date_of_diagnosis" required />

      <input type="submit" value="Start Diagnosis" />
    </form>
  </body>
</html>
